# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
API_KEY=trello-api-key
API_VALUE=trello-api-value
BOARD_ID=trello-board-id
