{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>New item</h2>
        <form action="{{ url_for('add_item') }}" method="POST">
            <div class="form-group form-row align-items-center">
                <div class="col-auto">
                    <label for="title-input">Title</label>
                </div>
                <div class="col">
                    <input type="text" name="title" id="title-input" class="form-control">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Add Item</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th scope="col"><p class="text-center">Title</p></th>
            <th scope="col"><p class="text-center">Status</p></th>
            <th scope="col"><p class="text-center">Action</p></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items%}
        <tr>
            <th scope="row">{{item.title}}</th>
            <td><p class="text-center">{{item.status}}</p></td>
            <td>
                {% if item.status == 'To Do'%}
                <a href="{{url_for('move_item', action='start', id=item.id)}}"
                   class="btn-link"><p class="text-center">Move it Doing</p></a>
                {% elif item.status == 'Doing'%}
                <a href="{{url_for('move_item', action='done', id=item.id)}}"
                   class="btn-link"><p class="text-center">Move it to Done</p></a>
                {% elif item.status == 'Done'%}
                <a href="{{url_for('move_item', action='doing', id=item.id)}}"
                   class="btn-link"><p class="text-center">Repeat Task</p></a>
                {% endif %}
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
</div>
{% endblock %}